.addToCartBtn {
  width: 10rem;
  height: 2.75rem;
  margin-top: -1.375rem;
  border-radius: 62rem;
  border: 1px solid var(--rose400);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.cartIcon {
  width: 1.25rem;
  height: 1.25rem;
}
