.cartContainer {
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 0.75rem;
  @media only screen and (min-width: 1200px) {
    width: 24rem;
  }
}
.cartTitle {
  color: var(--red);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.totalContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.orderTotal {
  color: var(--rose900);
  font-size: 0.875rem;
}

.totalPrice {
  color: var(--rose900);
  font-size: 1.5rem;
  font-weight: 800;
}

.carbonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--rose50);
  padding: 1rem;
  margin-top: 1.5rem;
}

.carbonIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.carbonTxt {
  font-size: 0.875rem;
  span {
    font-weight: 600;
  }
}

.confirmOrderBtn {
  width: 100%;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--red);
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  font-family: inherit;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.emptyCartContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emptyCartIcon {
  width: 8rem;
  height: 8rem;
}

.emptyCartTxt {
  font-size: 0.875rem;
  color: var(--rose500);
  font-weight: 600;
}
