.cardContainer {
  width: 20.4rem;
  height: 19.9rem;
  /* position: relative; */
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 500px) {
    width: 13.31rem;
    height: 19.9rem;
  }
}

.btnImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgFood {
  width: 20.4rem;
  height: 13.25rem;
  object-fit: cover;
  border-radius: 0.8rem;
  @media only screen and (min-width: 500px) {
    width: 13.31rem;
    height: 13.25rem;
    object-fit: contain;
  }
}

.txtContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.categoryTxt {
  color: var(--rose500);
  font-size: 0.875rem;
  font-weight: 400;
}
.nameTxt {
  color: var(--rose900);
  font-size: 1rem;
  font-weight: 600;
}
.priceTxt {
  color: var(--red);
  font-size: 1rem;
  font-weight: 600;
}
