.title {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--rose900);
}

.dessertCardsContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  @media only screen and (min-width: 500px) {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem 1.5rem;
  }
}
