.cartItemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.itemData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.qtyPrice {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.itemName {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--rose900);
}
.itemQty {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--red);
}

.itemPrice {
  font-size: 0.875rem;
  color: var(--rose500);
  span {
    margin-left: 0.5rem;
    color: var(--rose500);
    font-weight: 600;
  }
}

.removeBtn {
  width: 1.25rem;
  height: 1.25rem;
  background-color: transparent;
  border: solid 1px var(--rose400);
  border-radius: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}

.removeIcon {
  width: 0.5rem;
  height: 0.5rem;
}

.divider {
  width: 100%;
  border: solid 1px var(--rose100);
  margin-bottom: 1rem;
}
