@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose50: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
}

html,
body {
  font-family: 'Red Hat Text';
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--rose50);
}
